<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
	<div>
		<h3>전체 부서 조회</h3>
		<table>
			<thead>
				<tr>
					<th>부서번호</th>
					<th>부서명</th>
				</tr>
			</thead>
			
			<tbody>
				<th:block th:each="info : ${depts}">
					<tr>
						<td>[[ ${info.departmentId} ]]</td>
						<td>[[ ${info.departmentName} ]]</td>
						<td></td>
					</tr>
			</tbody>
		</table>
	</div>
<body>

</body>
</html>